/*@media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  }
*/
/*
.seasonstourimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}   




  .googleplay{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .appstore{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .center {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  header {
    width: 100vw;
    height: 100vh;
    background-image: url('SeasonsTour2.jpg');
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body {
    width: 100vw;
    height: 100vh;
    background-image: url('SeasonsTour2.jpg');
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/*  
  .logo {
    width: 70vw;
    background-position: top;
    margin-top: 10%;
  }

  @media only screen and (min-width: 1080px) {
    .logo {
      margin-top: 85%;
    }
  }
*/

.logo {
  background-position: top;
  margin-top: 30%;
  width: 75vw;
}

  .header-content{
    margin-bottom: 150px;
    text-align: center;
  }

  .header-content h1 {
    font-size: 5vmin;
  }

  .line {
    width: 30vmin;
    height: 1vmin;
    background: crimson;
    margin: 10px auto;
    border-radius: 5px;
  }

.pic {
  padding: 8px 15px;
  border-radius: 30px;
}

.toto {
  width: 75vw;
}

@media only screen and (min-width: 700px) {
  .logo {
    margin-top: 45%;
    width: 40vw;
  }
}

@media only screen and (min-width: 700px) {
  .toto {
    width: 35vw;
  }
}


.distance {
  margin-top: 80px;
}