/*.hed{
    height: 100%;
    width: 100%;
}

.background {
    background-color:rgb(240, 239, 239);
}

.imge {
    height: 40%;
}

.margin {
    margin-left: 35%;
}

.size{
    margin-left: 25%;
}
*/
@media screen and (max-width: 481px) {
    #main, #subnav {
        float: left;
        padding: 0;
        width: 94%;
        margin: 3%;
    }
}

.size2{
    width: 50%;
    margin-left: 25%;
}

.googleplay{
    margin-top: -63%;
    width: 40%;
    margin-left: 30%;
} 

.appstore {
    margin-top: -45%;
    width: 40%;
    margin-left: 30%;
}
